@media screen and (max-width: 1000px)
{
    .getStartedContainer
    {
        flex-direction: column;
        height: auto;
    }

    .getStartedContainer div
    {
        width: 100%;
    }

    .getStartedActionContainer
    {
        overflow: visible;
    }
}