.feedBackCardContainer
{
    margin: 5px;
    border-radius: 10px;
    width: 400px;
    min-height: 200px;
    max-height: 250px;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.feedBackName
{
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
}

.feedBackRole
{
    margin: 0;
    padding-left: 10px;
}

.feedBackInformations
{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.feedBackInformations img
{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: rgb(170, 170, 170);
}

.feedBackComment
{
    display: flex;
    flex-direction: column;
    height: 65%;
}

.feedBackStars
{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.feedBack
{
    padding-top: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1000px)
{
    .feedBackCardContainer
    {
        width: 100%;
    }
}